<!doctype html>
<head>
    <title>Hangry - Food delivery service</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <!--navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('index')}}">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Links</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              5 star rating
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="https://www.scoresonthedoors.org.uk/">What are they?</a></li>
                <li><a class="dropdown-item" href="https://hygienecheck.net/">How to obtain?</a></li>
                <li><hr class="dropdown-divider"></li>
              < li><a class="dropdown-item" href="https://www.food.gov.uk/">Food Standard Agency</a></li>
              </ul>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
    </nav>
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">

            <a href="{{ url_for('index') }}" class="btn btn-success btn-lg px-4 gap-3">Return</a>
			</div>
			<table class="table table-striped table-dark"></table>

      <div>
			{% for table in tables %}
				{{data[loop.index]}}
				{{ table|safe }}
			{% endfor %}
    </div>
     </main>
   </body>
   <footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
       <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
           © 2020 Copyright:
           <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
       </div>
    <!-- Copyright -->
  </footer>

</html>
